.welcome-button {
	
	width: 150px;
}

.welcome-box {
	
	text-align: center;
	margin-top: 200px;
	

	
	padding: 50px;
}

#profile-picture {
	
	text-align: right;
}

#profile-name {
	

}

.level {
	
	margin-top: 30px;
}

.level_old {
	
	text-align: right;
	margin-top: 5px;
}

.level_new {
	
	text-align: left;
	margin-top: 5px;
}

.commit-div {
	
	text-align: right;
}

.commit-button {
	
	margin-right: 20px;
	width: 150px;
}

input[readonly="readonly"], input[readonly="readonly"]:focus {
    background-color: lightgray;
}

.info {
    
    font-size: 10px;
    float: right;
    font-style: oblique;
}

#view_activity_table, #view_kind_table, #view_item_table, .api_table {
	
	width: 100%;	
}

#gps-table {
	
	text-align: center;
}

#tad_field_set {
	
	margin-bottom: 0px;
}



tr ul {
	
	margin-bottom: 0px;
}

.foundicon-settings, .foundicon-graph, .foundicon-add-doc, .foundicon-remove {
	
	margin: 3px;
	font-size: 16px;
}

.actions {
	
	padding: 5px;
}

.top-bar-section ul li.hover > a {
	background: #2795b6;
	color: white;
}

#distanceChart {
	
	width: 100% !important;
	height: 400px !important;
}

.icon_table {
	
	table-layout: fixed;
	text-align: center;
	width: 100%;
	border: none;
}

.icon_row:hover td {
	
	
}



td {
	
	background-color: white;
}

.odd:hover {
    background-color: red;
}

#calendar td:hover {
	
	background-color: steelblue;
}

.icon_cell:hover {
	
	background-color: white;
	color: black;
}

.icon_cell:hover a{
	
	background-color: white;
	color: black;
}



.action_row {

	margin-top: 0px !important;
	padding-left: 0.9375em !important;
	padding-right: 0.67em !important;
}

.fc-header-left, .fc-header-center, .fc-header-right {
	
	background-color: white !important;
	color: black !important;
	vertical-align: middle !important;
}

.dataTable tr:hover td {
    
      background-color: steelblue; 
      color: #000;
}

.dataTable tr:hover a {
    
      background-color: steelblue; 
      color: #FFFFFF;
}

.items_of_activity_table {
    
    text-align: center;
    border: none; 
}

.items_of_activity_table:hover a {
    
    color: steelblue;
}

#view_activity_table, #view_kind_table, #view_item_table {
	
	border: none;	
}

.legend_table {
    
    border: none;
    margin-bottom: 0px;
}