@(user: User)

@main("Welcome to GPSTad!", user) {
    
    <div class="row">
		<div class="large-12 columns">

			<h1>About</h1>

			<p>Tad is a student project by <a href="http://tuhrig.de">Thomas Uhrig</a>. It was developed during the
			summer semester 2013 for the course <i>Persistenzstrategien und Anwendungsentwicklung</i> by 
			<a href="http://www.hdm-stuttgart.de/~goik/">Prof. Dr. Martin Goik</a>.</p>
		</div>
	</div>

} {
}