@(user: User)

@main("Welcome to GPSTad!", user) {
    
    <div class="row">
		<div class="large-12 columns">

			<h1>Tad API</h1>
			
			<p>This page gives you an overview about all public APIs of Tad.</p>
			
			<h2>General API structure</h2>
			
			<ul>
				<li>To use the API you must be logged in. You can only access your own (therefore private) entities via the API.</li>
				<li>The syntax to query activities, items and kinds is <code>/tad/&lt;action&gt;/&lt;entity&gt;?&lt;parameters&gt;</code></li>
				<li>Supported entities are <code>activity</code>, <code>item</code> and <code>kind</code>.</li>
				<li>Supported actions are <code>return</code>, <code>clone</code> and <code>delete</code>.</li>
				<li>Note that not all actions are available for all entities and that the parameters depend on the specific action and entity. 
				See the following sections for more information.</li>
			</ul>
			
			<h2>Activity API</h2>
			
			<p>Activities are the main entity in Tad. They represent tracks, tours and events
			of the user. Each user can create as many activities as he wants to. Each activity
			can be associated with a kind (type/category) and multiple items. Every kind or item
			associated with an activity must belong to the owner (user) of the activity.</p>
			
			<h3>Return</h3>
			
			<table class="api_table">
				<tr><td>Example</td><td>Description</td></tr>
				<tr><td><code><a href="/tad/return/activity">/tad/return/activity</a></code></td><td>Returns all activities of the user.<td></tr>
			</table>
			
			<table class="api_table">
			
				<tr>
					<td>Parameter</td>
					<td>Example</td>	
					<td>Description</td>
				</tr>
				
				<tr>
					<td><code>kind</code></td>
					<td><code>1</code></td>
					<td>The id of a certain kind. This will only return activities of this kind.</td>
				</tr>
			
				<tr>
					<td><code>item</code></td>
					<td><code>1</code></td>
					<td>The id of a certain item. This will only return activities of this item.</td>
				</tr>
				
				<tr>
					<td><code>from</code></td>
					<td><code>01-04-2013</code></td>
					<td>A date (dd-mm-yyyy). This will only return activities after this date.</td>
				</tr>
				
				<tr>
					<td><code>to</code></td>
					<td><code>01-04-2013</code></td>
					<td>A date (dd-mm-yyyy). This will only return activities before this date.</td>
				</tr>
				
				<tr>
					<td><code>iDisplayLength</code></td>
					<td><code>10</code></td>
					<td>An integer, giving the limit how many activities are returned.</td>
				</tr>
				
				<tr>
					<td><code>iDisplayStart</code></td>
					<td><code>50</code></td>
					<td>An integer, giving an off-set from where to return activities.</td>
				</tr>
				
				<tr>
					<td><code>sEcho</code></td>
					<td><code>1</code></td>
					<td>An integer, incremented on every call.</td>
				</tr>
			
			</table>
			
			<h3>Delete</h3>
			
			<table class="api_table">
				<tr><td>Example</td><td>Description</td></tr>
				<tr><td><code><a href="/tad/delete/activity?id=1">/tad/delete/activity?id=1</a></code></td><td>Deletes the activity with id = 1.<td></tr>
			</table>
			
			<table class="api_table">
				<tr>
					<td>Parameter</td>
					<td>Example</td>	
					<td>Description</td>
				</tr>
				<tr>
					<td><code>id</code></td>
					<td><code>1</code></td>
					<td>The id of a certain activity to delete.</td>
				</tr>
			</table>
			
			<h3>Clone</h3>
			
			<table class="api_table">
				<tr><td>Example</td><td>Description</td></tr>
				<tr><td><code><a href="/tad/clone/activity?id=1">/tad/clone/activity?id=1</a></code></td><td>Clones the activity with id = 1.<td></tr>
			</table>
			
			<table class="api_table">
				<tr>
					<td>Parameter</td>
					<td>Example</td>	
					<td>Description</td>
				</tr>
				<tr>
					<td><code>id</code></td>
					<td><code>1</code></td>
					<td>The id of a certain activity to clone.</td>
				</tr>
			</table>
			
			<h2>Item API</h2>
			
			<p>Items are things the user wants to track. Each activity can be associated with one
			or more items. That enables the user to keep track of all items and to see how often
			they had been used.</p>
			
			<h3>Return</h3>
			
			<table class="api_table">
				<tr><td>Example</td><td>Description</td></tr>
				<tr><td><code><a href="/tad/return/item">/tad/return/item</a></code></td><td>Returns all items of the user.<td></tr>
			</table>
			
			<table class="api_table">
			
				<tr>
					<td>Parameter</td>
					<td>Example</td>	
					<td>Description</td>
				</tr>

				<tr>
					<td><code>iDisplayLength</code></td>
					<td><code>10</code></td>
					<td>An integer, giving the limit how many activities are returned.</td>
				</tr>
				
				<tr>
					<td><code>iDisplayStart</code></td>
					<td><code>50</code></td>
					<td>An integer, giving an off-set from where to return activities.</td>
				</tr>
				
				<tr>
					<td><code>sEcho</code></td>
					<td><code>1</code></td>
					<td>An integer, incremented on every call.</td>
				</tr>
			
			</table>

			<h3>Delete</h3>
			
			<table class="api_table">
				<tr><td>Example</td><td>Description</td></tr>
				<tr><td><code><a href="/tad/delete/item?id=1">/tad/delete/item?id=1</a></code></td><td>Deletes the item with id = 1.<td></tr>
			</table>
			
			<table class="api_table">
				<tr>
					<td>Parameter</td>
					<td>Example</td>	
					<td>Description</td>
				</tr>
				<tr>
					<td><code>id</code></td>
					<td><code>1</code></td>
					<td>The id of a certain item to delete.</td>
				</tr>
			</table>

			<h3>Clone</h3>
			
			<table class="api_table">
				<tr><td>Example</td><td>Description</td></tr>
				<tr><td><code><a href="/tad/clone/item?id=1">/tad/clone/item?id=1</a></code></td><td>Clones the item with id = 1.<td></tr>
			</table>
			
			<table class="api_table">
				<tr>
					<td>Parameter</td>
					<td>Example</td>	
					<td>Description</td>
				</tr>
				<tr>
					<td><code>id</code></td>
					<td><code>1</code></td>
					<td>The id of a certain item to clone.</td>
				</tr>
			</table>

			<h2>Kind API</h2>
			
			<p>A kind is a certain type of activity. It enables the user to organize his activities.
			Each activity can be associated with exactly one kind and will then belong to this 
			category.</p>
			
			<h3>Return</h3>
			
			<table class="api_table">
				<tr><td>Example</td><td>Description</td></tr>
				<tr><td><code><a href="/tad/return/kind">/tad/return/kind</a></code></td><td>Returns all kinds of the user.<td></tr>
			</table>
			
			<table class="api_table">
			
				<tr>
					<td>Parameter</td>
					<td>Example</td>	
					<td>Description</td>
				</tr>

				<tr>
					<td><code>iDisplayLength</code></td>
					<td><code>10</code></td>
					<td>An integer, giving the limit how many activities are returned.</td>
				</tr>
				
				<tr>
					<td><code>iDisplayStart</code></td>
					<td><code>50</code></td>
					<td>An integer, giving an off-set from where to return activities.</td>
				</tr>
				
				<tr>
					<td><code>sEcho</code></td>
					<td><code>1</code></td>
					<td>An integer, incremented on every call.</td>
				</tr>
			
			</table>
			
			<h3>Delete</h3>
			
			<table class="api_table">
				<tr><td>Example</td><td>Description</td></tr>
				<tr><td><code><a href="/tad/delete/kind?id=1">/tad/delete/kind?id=1</a></code></td><td>Deletes the kind with id = 1.<td></tr>
			</table>
			
			<table class="api_table">
				<tr>
					<td>Parameter</td>
					<td>Example</td>	
					<td>Description</td>
				</tr>
				<tr>
					<td><code>id</code></td>
					<td><code>1</code></td>
					<td>The id of a certain kind to delete.</td>
				</tr>
			</table>
			
			<h3>Clone</h3>
			
			<table class="api_table">
				<tr><td>Example</td><td>Description</td></tr>
				<tr><td><code><a href="/tad/clone/kind?id=1">/tad/clone/kind?id=1</a></code></td><td>Clones the kind with id = 1.<td></tr>
			</table>
			
			<table class="api_table">
				<tr>
					<td>Parameter</td>
					<td>Example</td>	
					<td>Description</td>
				</tr>
				<tr>
					<td><code>id</code></td>
					<td><code>1</code></td>
					<td>The id of a certain kind to clone.</td>
				</tr>
			</table>
			
		</div>
	</div>

} {
}