@(user: User, referer: String)

@import helper._

@tad("Edit activity", user) {

<h1>Created!</h1>

<p>Go to your <a href="@routes.Tad.viewDashboard()">dashboard</a>.</p>
<p>Go <a href="@referer">back</a>.</p>

} {

}