@(user: User)

@tad("Your Dashboard", user) {

		<!-- 
			<fieldset>
				<legend>Level</legend>
				<div class="row">
					<div class="large-2 columns level_old">
						Old Level
					</div>
					<div class="large-8 columns">
						<div class="progress success">
							<span class="meter" style="width: 40%"></span>
						</div>
					</div>
					<div class="large-2 columns level_new">
						New Level
					</div>
				</div>
			</fieldset>
			-->
			
			<fieldset>
				<legend>Overview</legend>
				<table class="icon_table">
					<tr class="icon_row">
						<td class="icon_cell"><a href="@routes.Tad.viewActivities()"><img width=32px" src="/assets/images/dashboard/activity.png"></a></td>
						<td class="icon_cell"><a href="@routes.Tad.viewItems()"><img width=32px" src="/assets/images/dashboard/item.png"></a></td>
						<td class="icon_cell"><a href="@routes.Tad.viewKinds()"><img width=32px" src="/assets/images/dashboard/kind.png"></a></td>
					</tr>
					<tr class="icon_row">
						<td class="icon_cell"><a href="@routes.Tad.viewActivities()">@user.activities.size() activities</a></td>
						<td class="icon_cell"><a href="@routes.Tad.viewItems()">@user.items.size() items</a></td>
						<td class="icon_cell"><a href="@routes.Tad.viewKinds()">@user.kinds.size() kinds</a></td>
					</tr>
					<tr>
						<td class="icon_cell">
							<a class='foundicon-plus' href='@routes.Tad.viewEditActivity()'></a>
							<a class='foundicon-graph' href='@routes.Tad.viewActivities()'></a>
							<a class='foundicon-idea' href='#' data-reveal-id="help_activity"></a>
						</td>
						<td class="icon_cell">
							<a class='foundicon-plus' href='@routes.Tad.viewEditItem()'></a>
							<a class='foundicon-graph' href='@routes.Tad.viewItems()'></a>
							<a class='foundicon-idea' href='#' data-reveal-id="help_item"></a>
						</td>
						<td class="icon_cell">
							<a class='foundicon-plus' href='@routes.Tad.viewEditKind()'></a>
							<a class='foundicon-graph' href='@routes.Tad.viewKinds()'></a>
							<a class='foundicon-idea' href='#' data-reveal-id="help_kind"></a>
						</td>
					</tr>
				</table>
			</fieldset>

			<div id='calendar'></div>

} {

	<script src="http://arshaw.com/js/fullcalendar-1.6.1/fullcalendar/fullcalendar.min.js"></script>
	<script src="http://arshaw.com/js/fullcalendar-1.6.1/jquery/jquery-ui-1.10.2.custom.min.js"></script>
	
	<script>

	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		$('#calendar').fullCalendar({
			height: 400,
			header: {
				left: 'prev,next today',
				right: '',
				center: 'title'
			},
			editable: false,
			eventClick: function(event) {
		        if (event.url) {
		            window.open(event.url, "_self");
		            return false;
		        }
		    }
		});

		$('#calendar').fullCalendar( 'addEventSource', function() {
		
			console.log("event");
			loadDataForDate();
		});
	
		function loadDataForDate() {
		
			var date  = $('#calendar').fullCalendar('getDate');
	
			var from = new Date( date.setMonth(date.getMonth() - 1) );
			var to = new Date( date.setMonth(date.getMonth() + 2) );
			
			var fromParam = "15-" + ( from.getMonth() + 1 ) + "-" + from.getFullYear();
			var toParam = "15-" + ( to.getMonth() + 1 ) + "-" + to.getFullYear();
			
			$.getJSON('/tad/return/activity?from=' + fromParam + '&to=' + toParam, function(data) {
	
				var i = 0;
				for(i = 0; i < data.aaData.length; i++) {
				
					var date = new Date(data.aaData[i].actionAt);
	
					var dateString = date.getFullYear() + "-" + (date.getMonth()+1) + "-" + date.getDate();
		
					event = {
					
						title: data.aaData[i].comment,
						start: dateString,
						url: '/tad/view/activity?id=' + data.aaData[i].id
					};
					
					$('#calendar').fullCalendar( 'renderEvent', event )
				}
			});
		}
	});

	</script>
	
}