@(user: User, activityForm: Form[Activity])

@import helper._

@tad("Edit activity", user) {

	@helper.form(action = routes.Tad.putActivity()) {

	 	<div class="row action_row">
			<div class="small-12">
				<ul class="button-group even-6">
					<li><a class="button secondary" href="@routes.Tad.viewActivity()?id=@activityForm.get().id">View</a></li>
					<li><a class="button secondary" href="@routes.Tad.viewActivities()">View all</a></li>
					<li><a class="button secondary" href="@routes.Tad.cloneActivity()?id=@activityForm.get().id">Clone</a></li>
					<li><a class="button secondary" data-reveal-id="delete" >Delete</a></li>
	 				<li><button type="submit" class="secondary">Update</button></li>
	 				<li><a class="button secondary" data-reveal-id="help_activity">Help</a></li>
	 			</ul>
 			</div>
 		</div>

		<fieldset>
		
		<legend>Edit</legend>

		<div class="row">
			<div class="small-8 columns">
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">ID:</label>
       			 	</div>
					<div class="large-9 columns">
			 			@helper.input(activityForm("id"), '_label -> "", 'readonly -> "readonly") { (id, name, value, args) =>
						    <input type="number" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
						} 
			 		</div>
		 		</div>
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">Created:</label>
       			 	</div>
					<div class="large-9 columns">
			 			@helper.input(activityForm("createdAt"), '_label -> "", 'readonly -> "readonly") { (id, name, value, args) =>
						    <input type="date" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
						} 
			 		</div>
		 		</div>
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">KML:</label>
       			 	</div>
					<div class="large-9 columns">
			
						@if(activityForm.get().getHasKml()) {
							<input type="text" value="KML uploaded" readonly></input>
						} else {
							<input type="text" value="No KML uploaded" readonly></input>
						}

			 		</div>
		 		</div>
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">Distance:</label>
       			 	</div>
					<div class="large-9 columns">
			 			@helper.input(activityForm("distanceInKm"), '_label -> "") { (id, name, value, args) =>
						    <input type="number" step="0.001" name=@name value="@value" id="@id" @toHtmlArgs(args) min="0">
						} 
			 		</div>
		 		</div>
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">Date:</label>
       			 	</div>
					<div class="large-9 columns">
			 			@helper.input(activityForm("actionAt"), '_label -> "") { (id, name, value, args) =>
						    <input type="date" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
						} 
			 		</div>
		 		</div>
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">Start:</label>
       			 	</div>
					<div class="large-9 columns">
			 			@helper.input(activityForm("fromTime"), '_label -> "") { (id, name, value, args) =>
						    <input type="time" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
						} 
			 		</div>
		 		</div>
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">End:</label>
       			 	</div>
					<div class="large-9 columns">
			 			@helper.input(activityForm("toTime"), '_label -> "") { (id, name, value, args) =>
						    <input type="time" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
						} 
			 		</div>
		 		</div>
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">Comment:</label>
       			 	</div>
					<div class="large-9 columns">
			 			@helper.inputText(activityForm("comment"), '_label -> "")
			 		</div>
		 		</div>
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">Kind:</label>
       			 	</div>
					<div class="large-9 columns">
						@helper.select(activityForm("kind"), user.kinds.map{ t => t.name -> t.name }, '_label -> "")
			 		</div>
		 		</div>
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">Items:</label>
       			 	</div>
					<div class="large-9 columns">
						@helper.select(activityForm("item_list"), user.items.map{ t => t.name -> t.name }, '_label -> "")
			 		</div>
		 		</div>
	 		</div>
 			<div class="small-3 columns">
	 			<div class="row">
	 				<img width='100%' src='/assets/images/kml.png'>
	 			</div>
	 			<br>
	 			<div class="row">
	 				<a href="#" data-reveal-id="upload_kml">Upload</a> | <a href="#" data-reveal-id="delete_kml">Delete</a>
	 			</div>
	 		</div>
 		</div>

 		</fieldset>
	}

	<div id="upload_kml" class="reveal-modal large">
	
		<h1>Upload a KML file for this activity</h1>
	
		@helper.form(action = routes.Tad.postKml(), 'enctype -> "multipart/form-data") {
		
			<fieldset>
				<legend>KML</legend>
		 		<div class="row">
					<div class="small-12">
						<div class="row">
							<div class="large-7 columns">
					 			<input class="button" type="file" name="kml">
					 			@helper.input(activityForm("id"), '_label -> "") { (id, name, value, args) =>
								    <input type="hidden" name=@name value="@value" id="@id" @toHtmlArgs(args)>
								} 
					 		</div>
					 		<div class="large-5 columns commit-div">
					 			<button type="submit" class="commit-button">Upload</button>
					 		</div>
				 		</div>
			 		</div>
		 		</div>
	 		</fieldset>
		}
	</div>

	<div id="delete_kml" class="reveal-modal small">
		<h2>Do you really want to delete the KML file of this activity?</h2>
		<a href="@routes.Tad.deleteKml()?id=@activityForm.get().id" class="button commit-button">Delete!</a>  
		<a class="close-reveal-modal">&#215;</a>
	</div>	

	<div id="delete" class="reveal-modal small">
		<h2>Do you really want to delete this activity?</h2>
		<a href="@routes.Tad.deleteActivity()?id=@activityForm.get().id" class="button commit-button">Delete!</a>  
		<a class="close-reveal-modal">&#215;</a>
	</div>	
	
} {

	<script>

		$("#kind").val("@activityForm.get().kind.name");
		
		$("#item_list").attr("size", 10);
		$("#item_list").attr("multiple", "multiple");
		$("#item_list").css("height", "initial");

		$("<option>", {value: ""}).prependTo("#item_list");

		@for(item <- activityForm.get().items) { 	

			$('#item_list option[value="@item.name"]').attr('selected', true);
		}
	
	</script>

}