@(user: User, itemForm: Form[Item])

@tad("Edit item", user) {
    
	@helper.form(action = routes.Tad.putItem()) {

	 	<div class="row action_row">
			<div class="small-12">
				<ul class="button-group even-6">
					<li><a class="button secondary" href="@routes.Tad.viewItem()?id=@itemForm.get().id">View</a></li>
					<li><a class="button secondary" href="@routes.Tad.viewItems()">View all</a></li>
					<li><a class="button secondary" href="@routes.Tad.cloneItem()?id=@itemForm.get().id">Clone</a></li>
					<li><a class="button secondary" data-reveal-id="delete">Delete</a></li>
	 				<li><button type="submit" class="secondary">Update</button></li>
	 				<li><a class="button secondary" data-reveal-id="help_item">Help</a></li>
	 			</ul>
 			</div>
 		</div>

		<fieldset>
		
			<legend>Edit</legend>
	
			<div class="row">
				<div class="small-8 columns">
					<div class="row">
						<div class="large-3 columns">
	          				<label for="name" class="right inline">ID:</label>
	       			 	</div>
						<div class="large-9 columns">
				 			@helper.input(itemForm("id"), '_label -> "", 'readonly -> "readonly") { (id, name, value, args) =>
							    <input type="number" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
							} 
				 		</div>
			 		</div>
					<div class="row">
						<div class="large-3 columns">
	          				<label for="name" class="right inline">Created:</label>
	       			 	</div>
						<div class="large-9 columns">
				 			@helper.input(itemForm("createdAt"), '_label -> "", 'readonly -> "readonly") { (id, name, value, args) =>
							    <input type="date" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
							} 
				 		</div>
			 		</div>
					<div class="row">
						<div class="large-3 columns">
	          				<label for="name" class="right inline">Image:</label>
	       			 	</div>
						<div class="large-9 columns">
							@if(itemForm.get().getHasImage()) {
								<input type="text" value="Image uploaded" readonly></input>
							} else {
								<input type="text" value="No image uploaded" readonly></input>
							}
				 		</div>
			 		</div>
					<div class="row">
						<div class="large-3 columns">
	          				<label for="name" class="right inline">Name:</label>
	       			 	</div>
						<div class="large-9 columns">
				 			@helper.input(itemForm("name"), '_label -> "") { (id, name, value, args) =>
							    <input type="text" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
							} 
				 		</div>
			 		</div>
		 		</div>
		 		<div class="small-3 columns">
		 			<div class="row">
		 				<img width='100%' src='@routes.Tad.serveItemImage()?id=@itemForm.get().id'>
		 			</div>
		 			<br>
		 			<div class="row">
		 				<a href="#" data-reveal-id="upload_picture">Upload</a> | <a href="#" data-reveal-id="delete_picture">Delete</a>
		 			</div>
		 		</div>
	 		</div>

 		</fieldset>
	}

	<div id="upload_picture" class="reveal-modal large">
	
		<h1>Upload a picture for this item</h1>
	
		@helper.form(action = routes.Tad.postItemImage(), 'enctype -> "multipart/form-data") {
		
			@helper.input(itemForm("id"), '_label -> "", 'readonly -> "readonly") { (id, name, value, args) =>
			    <input type="hidden" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
			} 
		
			<fieldset>
				<legend>Image</legend>
		 		<div class="row">
					<div class="small-12">
							<div class="large-7 columns">
					 			<input class="button" type="file" name="image">
					 		</div>
					 		<div class="large-5 columns commit-div">
					 			<button type="submit" class="commit-button">Upload</button>
					 		</div>
				 		</div>
			 		</div>
		 		</div>
	 		</fieldset>
		}
	</div>
	
	<div id="delete_picture" class="reveal-modal small">
		<h2>Do you really want to delete this picture?</h2>
		<a href="@routes.Tad.deleteItemImage()?id=@itemForm.get().id" class="button commit-button">Delete!</a>  
		<a class="close-reveal-modal">&#215;</a>
	</div>	
 	
	<div id="delete" class="reveal-modal small">
		<h2>Do you really want to delete this item?</h2>
		<a href="@routes.Tad.deleteItem()?id=@itemForm.get().id" class="button commit-button">Delete!</a>  
		<a class="close-reveal-modal">&#215;</a>
	</div>	
} {
}