@(user: User, kindForm: Form[Kind])

@tad("Edit kind", user) {
    
	@helper.form(action = routes.Tad.putKind()) {

	 	<div class="row action_row">
			<div class="small-12">
				<ul class="button-group even-6">
					<li><a class="button secondary" href="@routes.Tad.viewKind()?id=@kindForm.get().id">View</a></li>
					<li><a class="button secondary" href="@routes.Tad.viewKinds()">View all</a></li>
					<li><a class="button secondary" href="@routes.Tad.cloneKind()?id=@kindForm.get().id">Clone</a></li>
					<li><a class="button secondary" data-reveal-id="delete">Delete</a></li>
	 				<li><button type="submit" class="secondary">Update</button></li>
	 				<li><a class="button secondary" data-reveal-id="help_kind">Help</a></li>
	 			</ul>
 			</div>
 		</div>

		<fieldset>
		
			<legend>Edit</legend>
	
	
	
			<div class="row">
				<div class="small-8 columns">
					<div class="row">
						<div class="large-3 columns">
	          				<label for="name" class="right inline">ID:</label>
	       			 	</div>
						<div class="large-9 columns">
				 			@helper.input(kindForm("id"), '_label -> "", 'readonly -> "readonly") { (id, name, value, args) =>
							    <input type="number" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
							} 
				 		</div>
			 		</div>
					<div class="row">
						<div class="large-3 columns">
	          				<label for="name" class="right inline">Created:</label>
	       			 	</div>
						<div class="large-9 columns">
				 			@helper.input(kindForm("createdAt"), '_label -> "", 'readonly -> "readonly") { (id, name, value, args) =>
							    <input type="date" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
							} 
				 		</div>
			 		</div>
					<div class="row">
						<div class="large-3 columns">
	          				<label for="name" class="right inline">Name:</label>
	       			 	</div>
						<div class="large-9 columns">
				 			@helper.input(kindForm("name"), '_label -> "") { (id, name, value, args) =>
							    <input type="text" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
							} 
				 		</div>
			 		</div>
					<div class="row">
						<div class="large-3 columns">
	          				<label for="name" class="right inline">Icon:</label>
	       			 	</div>
						<div class="large-9 columns">
				 			@helper.input(kindForm("icon"), '_label -> "") { (id, name, value, args) =>
				
								<select id="@id" name="@name" value="@value">
								    <option>climbing.png</option>
							        <option>cycling.png</option>
							        <option>default.png</option>
							        <option>flying.png</option>
							        <option>hiking.png</option>
							        <option>running.png</option>
							        <option>skiing.png</option>
							        <option>swimming.png</option>
							    </select>
							}
							
				 		</div>
			 		</div>
		 		</div>
		 		<div class="small-3 columns">
		 			<div class="row">
		 				<img id="kind_icon_preview" width='64px' src='/assets/images/icons/@kindForm.get().icon'>
		 			</div>
		 		</div>
	 		</div>

 		</fieldset>
	}
 	
	<div id="delete" class="reveal-modal small">
		<h2>Do you really want to delete this kind?</h2>
		<a href="@routes.Tad.deleteKind()?id=@kindForm.get().id" class="button commit-button">Delete!</a>  
		<a class="close-reveal-modal">&#215;</a>
	</div>	
	
} {

	<script>

		$("#icon").val("@kindForm.get().icon");
	
		$('#icon').change(function() {
			  
			$("#kind_icon_preview").attr("src", "/assets/images/icons/" + $('#icon').val());
		});
		
	</script>

}