@(user: User, form: Form[User])

@tad("Your Profil - GPSTad", user) {

	@helper.form(action = routes.Tad.putUser()) {

	 	<div class="row action_row">
			<div class="small-12">
				<ul class="button-group even-3">
					<li><a class="button secondary" data-reveal-id="delete">Delete</a></li>
	 				<li><button type="submit" class="secondary">Update</button></li>
	 				<li><a class="button secondary" data-reveal-id="help_profil">Help</a></li>
	 			</ul>
 			</div>
 		</div>

		<fieldset>
		
		<legend>Personal data</legend>

		<div class="row">
			<div class="small-8 columns">
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">ID:</label>
       			 	</div>
					<div class="large-9 columns">
			 			@helper.inputText(form("id"), '_label -> "", 'readonly -> "readonly")
			 		</div>
		 		</div>
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">Registered since:</label>
       			 	</div>
					<div class="large-9 columns">
			 			@helper.inputDate(form("registration"), '_label -> "", 'readonly -> "readonly")
			 		</div>
		 		</div>
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">Name:</label>
       			 	</div>
					<div class="large-9 columns">
			 			@helper.inputText(form("name"), '_label -> "")
			 		</div>
		 		</div>
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">Email:</label>
       			 	</div>
					<div class="large-9 columns">
			 			@helper.inputText(form("email"), '_label -> "")
			 		</div>
		 		</div>
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">Home:</label>
       			 	</div>
					<div class="large-9 columns">
			 			@helper.inputText(form("home"), '_label -> "")
			 		</div>
		 		</div>
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">Size:</label>
       			 	</div>
					<div class="large-9 columns">
			 			@helper.input(form("size"), '_label -> "", 'placeholder -> "180") { (id, name, value, args) =>
						    <input type="number" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
						} 
			 		</div>
		 		</div>
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">Weight:</label>
       			 	</div>
					<div class="large-9 columns">
			 			@helper.input(form("weight"), '_label -> "", 'placeholder -> "70") { (id, name, value, args) =>
						    <input type="number" name="@name" value="@value" id="@id" @toHtmlArgs(args)>
						} 
			 		</div>
		 		</div>
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">Date of Birth:</label>
       			 	</div>
					<div class="large-9 columns">
			 			@helper.inputDate(form("dateOfBirth"), '_label -> "", 'placeholder -> "1987-07-03")
			 		</div>
		 		</div>
		 		
				<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">Password:</label>
       			 	</div>
					<div class="large-9 columns">
			 			@helper.inputPassword(form("password"), '_label -> "", 'placeholder -> "*****")
			 		</div>
		 		</div>
		 		
		 		<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">New Password:</label>
       			 	</div>
					<div class="large-9 columns">
						<input type="password" name="new1_password" value="" id="old_password" placeholder="*****">
			 		</div>
		 		</div>
		 		
		 		<div class="row">
					<div class="large-3 columns">
          				<label for="name" class="right inline">Repeat Password:</label>
       			 	</div>
					<div class="large-9 columns">
						<input type="password" name="new2_password" value="" id="new_password" placeholder="*****">
			 		</div>
		 		</div>
		 		
	 		</div>
	 		<div class="small-3 columns">
	 			<div class="row">
	 				<img width='100%' src='@routes.Tad.serveUserImage()?id=@form.get().id'>
	 			</div>
	 			<br>
	 			<div class="row">
	 				<a href="#" data-reveal-id="upload_picture">Upload</a> | <a href="#" data-reveal-id="delete_picture">Delete</a>
	 			</div>
	 		</div>
	 	</div>
		 		
 		</fieldset>
	}

	<div id="upload_picture" class="reveal-modal large">
	
		<h1>Upload a picture for your profil</h1>

		@helper.form(action = routes.Tad.postUserImage(), 'enctype -> "multipart/form-data") {
		
			<fieldset>
				<legend>Profile picture</legend>
		 		<div class="row">
					<div class="small-12">
						<div class="row">
							<div class="large-7 columns">
					 			<input class="button" type="file" name="image">
					 		</div>
					 		<div class="large-5 columns commit-div">
					 			<button type="submit" class="commit-button">Upload</button>
					 		</div>
				 		</div>
			 		</div>
		 		</div>
	 		</fieldset>
		}
	</div>
	
	<div id="delete_picture" class="reveal-modal small">
		<h2>Do you really want to delete your profil picture?</h2>
		<a href="@routes.Tad.deleteUserImage()?id=@form.get().id" class="button commit-button">Delete!</a>  
		<a class="close-reveal-modal">&#215;</a>
	</div>	

	<div id="delete" class="reveal-modal small">
		<h2>Do you really want to delete your account?</h2>
		<a href="/tad/user/delete" class="button commit-button">Delete!</a>  
		<a class="close-reveal-modal">&#215;</a>
	</div>	
} {
}