@(user: User, loginForm: Form[authentication.Login], signupForm: Form[User], users: Integer, activities: Integer, kinds: Integer, items: Integer)

@main("Welcome to GPSTad!", user) {
    
    <div class="row">
		<div class="large-12 columns">
			<div class="welcome-box">
				<h1 class="header">TAD - Your Track Diary.</h1>
				<a data-reveal-id="login" class="button welcome-button">Login</a>			
				<a data-reveal-id="signup" class="button welcome-button">Sign up</a>
				<p>Online: @users users, @activities activities, @kinds kinds, @items items</p>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="large-12 columns">
			<div class="alert-box secondary">
				<h4>Note:</h4>
				<ul>
				<li>This is a demo application! This means it might be off-line tomorrow or 
				all your data is gone in an hour - or both!</li>
				<li>To check out a demo account log-in as "tad&#64;tad.de" with the password "123456".</li>
				<li>Some HTML5 input types used in TAD are only available in Google Chrome!</li>
				<li>You can create an account with any e-mail address, existing or not.</li>
				<li>Also note that not all KML formats are supported. You can download three valid KML
				here (<a href="/assets/samples/test_45_km.kml">kml_1</a>,
				<a href="/assets/samples/test_56_km.kml">kml_2</a>, <a href="/assets/samples/test_8_km.kml">kml_3</a>).</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div id="login" class="reveal-modal small">
		<h2>Login</h2>
	    
		@helper.form(routes.Application.login) {

			@if(loginForm.hasGlobalErrors) {
			
				<p class="error">@loginForm.globalError.message</p>
				
			} @if(flash.contains("success")) {
			
				<p class="success">@flash.get("success")</p>
			} 
			
			<input type="email" name="email" placeholder="Email" value='@loginForm("email").value'> 
			<input type="password" name="password" placeholder="Password">
			<button type="submit">Login</button>
		}
		
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	<div id="signup" class="reveal-modal small">
		<h2>Sign up</h2>
		
		@helper.form(action = routes.Application.postUser()) {

	 		@helper.inputText(signupForm("name"), 'placeholder -> "Your nickname")
	 		@helper.inputText(signupForm("email"), 'placeholder -> "Your email")
	 		@helper.inputPassword(signupForm("password"), 'placeholder -> "*****")
	 		
	 		<button type="submit">Sign up</button>
		}
  
		<a class="close-reveal-modal">&#215;</a>
	</div>
} {
}