@(form: Form[authentication.Login])

@main("Login - GPSTad", null) {

	<div class="row">
		<div class="large-12 columns">

			<h1>Login</h1>
	
			@helper.form(routes.Application.login) {
		
					@if(form.hasGlobalErrors) {
					
						<p class="error">@form.globalError.message</p>
						
					} @if(flash.contains("success")) {
					
						<p class="success">@flash.get("success")</p>
					
					} 
					
					<input type="email" name="email" placeholder="Email" value='@form("email").value'> 
					<input type="password" name="password" placeholder="Password">
					<button type="submit">Login</button>
			}
			
		</div>
	</div>
} {
}