@(user: User)

@main("Unauthorized!", user) {
    
    <div class="row">
		<div class="large-12 columns">
			<div class="welcome-box">
				<h1>Unauthorized!</h1>
				<h1 class="subheader">You must be logged-in for this action!</h1>
				<a href="/login" class="button welcome-button">Login</a>
				<a href="/signup" class="button welcome-button">Sign up</a>
			</div>
		</div>
	</div>
} {
}