@(form: Form[User])

@main("Login - GPSTad", null) {
	
	<div class="row">
		<div class="large-12 columns">
		
			<h1>Sign up</h1>

			@helper.form(action = routes.Application.postUser()) {

		 		@helper.inputText(form("name"), 'placeholder -> "Your nickname")
		 		@helper.inputText(form("email"), 'placeholder -> "Your email")
		 		@helper.inputPassword(form("password"), 'placeholder -> "*****")
		 		
		 		<button type="submit">Sign up</button>
			}

		</div>
	</div>
} {
}