@(title: String, user: User)(content: Html)(scripts: Html)

@main(title + " - GPSTad", user) {
    
    <div class="sticky">
		<nav class="top-bar">
		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="@routes.Tad.viewDashboard()">GPS Tad</a></h1>
		    </li>
		    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		  </ul>
		  <section class="top-bar-section">
		    <ul class="right">
		    	<li class="active"><a href="@routes.Tad.viewDashboard()">Dashboard</a></li>
		      <li class="has-dropdown"><a href="#">Statistics</a>
		        <ul class="dropdown">
		          <li><a href="@routes.Tad.viewStatistics()">View all</a></li>
		          <li><a href="#" data-reveal-id="help_statistics">Help</a></li>
		        </ul>
		      </li>
		      <li class="divider"></li>
		      <li class="has-dropdown"><a href="#">Activities</a>
		        <ul class="dropdown">
		          <li><a href="@routes.Tad.viewEditActivity()">New</a></li>
		          <li><a href="#" data-reveal-id="activity_by_kml">New by KML</a></li>
		          <li><a href="@routes.Tad.viewActivities()">View all</a></li>
		          <li><a href="#" data-reveal-id="help_activity">Help</a></li>
		        </ul>
		      </li>
		      <li class="divider"></li>
		      <li class="has-dropdown"><a href="#">Items</a>
		        <ul class="dropdown">
		          <li><a href="@routes.Tad.viewEditItem()">New</a></li>
		          <li><a href="#" data-reveal-id="item_by_picture">New by picture</a></li>
		          <li><a href="@routes.Tad.viewItems()">View all</a></li>
		          <li><a href="#" data-reveal-id="help_item">Help</a></li>
		        </ul>
		      </li>
		      <li class="divider"></li>
		      <li class="has-dropdown"><a href="#">Kinds</a>
		        <ul class="dropdown">
		          <li><a href="@routes.Tad.viewEditKind()">New</a></li>
		          <li><a href="@routes.Tad.viewKinds()">View all</a></li>
		          <li><a href="#" data-reveal-id="help_kind">Help</a></li>
		        </ul>
		      </li>
		      <li class="divider"></li>
		      <li class="has-dropdown"><a href="#">Profile</a>
		        <ul class="dropdown">
		          <li><a href="@routes.Tad.viewEditProfil()">Edit</a></li>
		          <li><a href="#" data-reveal-id="help_profil">Help</a></li>
		        </ul>
		      </li>
		      <li class="divider"></li>
			  <li class="active"><a href="/logout">Logout</a></li>
		    </ul>
		  </section>
		</nav>
	</div>

	<div id="activity_by_kml" class="reveal-modal small">
		<h2>Upload a KML file to create a new activity</h2>
	  	<p>You can upload a KML file here to instantly create a new activity. Just select
	  	a KML file and click on upload.</p>
	  	
		@helper.form(action = routes.Tad.postKml(), 'enctype -> "multipart/form-data") {
		
			<fieldset>
				
				<legend>KML</legend>
			
		 		<div class="row">
					<div class="small-12">
						<div class="row">
							<div class="large-6 columns">
					 			<input class="button" type="file" name="kml">
					 		</div>
					 		<div class="large-6 columns commit-div">
					 			<button type="submit" class="commit-button">Upload</button>
					 		</div>
				 		</div>
			 		</div>
		 		</div>
	 		
	 		</fieldset>
		}
	  	
	  	<a class="close-reveal-modal">&#215;</a>
	</div>
	
	<div id="item_by_picture" class="reveal-modal small">
		<h2>Upload a picture to create a new item</h2>
	  	<p>You can upload a picture here to instantly create a new item. Just select
	  	a picture and click on upload.</p>
	  	
		@helper.form(action = routes.Tad.postItemImage(), 'enctype -> "multipart/form-data") {
		
			<fieldset>
				
				<legend>KML</legend>
			
		 		<div class="row">
					<div class="small-12">
						<div class="row">
							<div class="large-6 columns">
					 			<input class="button" type="file" name="image">
					 		</div>
					 		<div class="large-6 columns commit-div">
					 			<button type="submit" class="commit-button">Upload</button>
					 		</div>
				 		</div>
			 		</div>
		 		</div>
	 		
	 		</fieldset>
		}
	  	
	  	<a class="close-reveal-modal">&#215;</a>
	</div>
	
	<div id="help_profil" class="reveal-modal small">
		<h2><img width=32px" src="/assets/images/dashboard/profile.png"> Your Profile</h2>
	  	<p>Your profile contains some important information about you. For example
	  	who your are or how old you are.</p>
	  	<a class="close-reveal-modal">&#215;</a>
	</div>
	
	<div id="help_kind" class="reveal-modal small">
		<h2><img width=32px" src="/assets/images/dashboard/kind.png"> Your Kinds</h2>
	  	<p>Your kinds are your different sports you do. For example you can create
	  	a "running" kind if do running or a "biking" kind if you do biking. You can 
	  	create a new individual kind for every sport you like and link an activity 
	  	with it.</p>
	  	<a class="close-reveal-modal">&#215;</a>
	</div>
    
	<div id="help_item" class="reveal-modal small">
		<h2><img width=32px" src="/assets/images/dashboard/item.png"> Your Items</h2>
	  	<p>Your items are your sport equipment. You can create a new item for every
	  	accessoir that you use. You can link each activity to one or more items and
	  	keep track how often you used your items.</p>
	  	<a class="close-reveal-modal">&#215;</a>
	</div>
	
	<div id="help_activity" class="reveal-modal small">
		<h2><img width=32px" src="/assets/images/dashboard/activity.png"> Your Activities</h2>
	  	<p>Your activities are your GPS tracks. You can create a new activity for
	  	every GPS track you have. You can upload a GPS file and link some items to
	  	the activity.</p>
	  	<a class="close-reveal-modal">&#215;</a>
	</div>
	
		<div id="help_statistics" class="reveal-modal small">
		<h2><img width=32px" src="/assets/images/dashboard/statistics.png"> Your statistics</h2>
	  	<p>Your statistics give you an overview about what you did during the last months. You
	  	can visualize various statistics in a bar chart or line chart:</p>
	  		<ul>
	  			<li>the sum of all distances</li>
	  			<li>the average distances</li>
	  			<li>the minimal distance</li>
	  			<li>the maximal distance</li>
	  			<li>the number of activities</li>
	  		</ul>
	  	<p>You can filter the statistics according to different parameters:</p>
	  		<ul>
	  			<li>the time (days, weeks, months, years)</li>
	  			<li>the kind</li>
	  			<li>the items (you can only choose between single items)</li>
	  		</ul>
	  	
	  	<a class="close-reveal-modal">&#215;</a>
	</div>
	
    <div class="row">
		<div class="large-12 columns">
			<fieldset id="tad_field_set">
				<legend>@title</legend>
				<div class="row">
					<div class="large-8 columns">
						<h2 id="profile-name">@user.name</h2>
					</div>
					<div class="large-4 columns" id="profile-picture">
						<img src="@routes.Tad.serveUserImage()" style="max-height: 140px;">
					</div>
				</div>
			</fieldset>
	
			@content
			
		</div>
	</div>
} {
	@scripts
}

