@(user: User)

@tad("Your Activities", user) {

			<fieldset>
				<legend>Your activities</legend>
				<table id="activities">
					<thead>
				        <tr>
				            <th>ID</th>
				            <th>Date</th>
				            <th>Created</th>
				            <th>Comment</th>
				            <th>Duration (min)</th>
				            <th>Distance (km)</th>
				            <th>KML</th>
				            <th>Kind</th>
				            <th></th> 
				        </tr>
				    </thead>
					<tbody>
				    </tbody>
				</table>
			</fieldset>

} {

	<script>
		$(document).ready(function() {
		
			tad.makeActivityTable("#activities", "@routes.Tad.getActivities()")();
		});
	</script>
}