@(user: User)

@tad("Activity", user) {

	<fieldset>
		<legend>Overview</legend>
		<table class="icon_table">
			<tr class="icon_row">
				<td class="icon_cell"><a href="@routes.Tad.viewActivities()"><img width=32px" src="/assets/images/dashboard/activity.png"></a></td>
				<td class="icon_cell"><a href="@routes.Tad.viewItems()"><img width=32px" src="/assets/images/dashboard/item.png"></a></td>
				<td class="icon_cell"><a href="@routes.Tad.viewKinds()"><img width=32px" src="/assets/images/dashboard/kind.png"></a></td>
			</tr>
			<tr class="icon_row">
				<td class="icon_cell"><a href="@routes.Tad.viewActivities()">@user.activities.size() activities</a></td>
				<td class="icon_cell"><a href="@routes.Tad.viewItems()">@user.items.size() items</a></td>
				<td class="icon_cell"><a href="@routes.Tad.viewKinds()">@user.kinds.size() kinds</a></td>
			</tr>
			<tr>
				<td class="icon_cell">
					<a class='foundicon-plus' href='@routes.Tad.viewEditActivity()'></a>
					<a class='foundicon-graph' href='@routes.Tad.viewActivities()'></a>
					<a class='foundicon-idea' href='#' data-reveal-id="help_activity"></a>
				</td>
				<td class="icon_cell">
					<a class='foundicon-plus' href='@routes.Tad.viewEditItem()'></a>
					<a class='foundicon-graph' href='@routes.Tad.viewItems()'></a>
					<a class='foundicon-idea' href='#' data-reveal-id="help_item"></a>
				</td>
				<td class="icon_cell">
					<a class='foundicon-plus' href='@routes.Tad.viewEditKind()'></a>
					<a class='foundicon-graph' href='@routes.Tad.viewKinds()'></a>
					<a class='foundicon-idea' href='#' data-reveal-id="help_kind"></a>
				</td>
			</tr>
		</table>
	</fieldset>

	<div class="row">
	
		<div class="large-2 columns">
	      <select id="type_selection">
		    <option value="distance" selected>Distance</option>
		    <option value="average">Average Distance</option>
		    <option value="min">Min Distance</option>
		    <option value="max">Max Distance</option>
	        <option value="number">Number of Activities</option>
	      </select>
	 	</div>
	
		<div class="large-2 columns">
	      <select id="periode_selection">
		    <option>Days</option>
		    <option>Weeks</option>
	        <option selected>Months</option>
	        <option>Years</option>
	      </select>
	 	</div>
	
		<div class="large-2 columns">
	      <select id="kind_selection" class="medium">
	        <option></option>
	      </select>
	    </div>
	    
	    <div class="large-2 columns">
	      <select id="item_selection">
	        <option></option>
	      </select>
	    </div>
		
		<div class="large-4 columns">
			<div class="switch small round">
			  <input id="bar_chart" name="switch-x" type="radio" checked>
			  <label for="bar_chart">Bar-Chart</label>
			  <input id="line_chart" name="switch-x" type="radio">
			  <label for="line_chart">Line-Chart</label>
			  <span></span>
			</div>
		</div>
	</div>
	
	<canvas id="distanceChart" width="1000px" height="400px"></canvas>
  	
  	<fieldset>
		<legend>Legend</legend>
		<table class="legend_table"><tr id="legend"><tr></table>
	</fieldset>
  	
} {
    
    <script src="@routes.Assets.at("javascripts/Chart.min.js")" type="text/javascript"></script>
	
	<script>
	
		var bar = true;
	
		var options = {
				
				scaleShowLabels : true,
				scaleLabel : "<%=value%> KM"
		}
	
		$.getJSON('@routes.Tad.getStatistics()', function(data) {

			drawChart();
		});
		
		function drawChart() {
			
			var type = "type=distance";
			var kind;
			var item;
			var periode;
			
			if( $('#type_selection').val() ) {
				
				type = "type=" + $('#type_selection').val();
			}
			
			if( $('#item_selection').val() ) {
				
				item = "item=" + $('#item_selection').val();
			}
			
			if( $('#kind_selection').val() ) {
				
				kind = "kind=" + $('#kind_selection').val();
			}
			
			if( $('#periode_selection').val() ) {
				
				periode = "periode=" + $('#periode_selection').val();
			}
			
			console.log('@routes.Tad.getStatistics()' + '?' + kind + "&" + item + "&" + periode + "&" + type);
			
			$.getJSON('@routes.Tad.getStatistics()' + '?' + kind + "&" + item + "&" + periode + "&" + type, function(data) {

				var ctx = $("#distanceChart").get(0).getContext("2d");
				
				if( bar ) {
					
					new Chart(ctx).Bar(data, options);
				}
				else {
					
					new Chart(ctx).Line(data, options);
				}

				// generate legend
				$("#legend td").remove();
				jQuery.each(data.datasets, function(index, element) {

					$("#legend").append("<td style='background:" + element.fillColor + "'>" + element.kind + "</td>");
				});
			});
		}
				
		$.getJSON('@routes.Tad.getItems()', function(data) {

			$.each(data.aaData, function(index, item) {

			    $('#item_selection').append( new Option(item.name, item.id) );
			});
		});
		
		$.getJSON('@routes.Tad.getKinds()', function(data) {

			$.each(data.aaData, function(index, item) {

			    $('#kind_selection').append( new Option(item.name, item.id) );
			});
		});

		$('#type_selection').change(function() {

			drawChart();
		});
		
		$('#item_selection').change(function() {

			drawChart();
		});
		
		$('#kind_selection').change(function() {
			
			drawChart()
		});
		
		$('#periode_selection').change(function() {
			
			drawChart()
		});
		
		$("#line_chart").click(function() {

			bar = false;
			drawChart();
		});
		
		$("#bar_chart").click(function() {

			bar = true;
			drawChart();
		});
		
	</script>
}