@(user: User)

@tad("Your Dashboard", user) {

		<fieldset>
			<legend>Your kinds</legend>
			<table id="kinds">
				<thead>
			        <tr>
			            <th>ID</th>
			            <th>Created</th>
			            <th>Name</th>
			            <th>Used</th>
			            <th>Icon</th>
			            <th></th>
			        </tr>
			    </thead>
				<tbody>
			    </tbody>
			</table>
		</fieldset>

} {

	<script>
		$(document).ready(function() {

		    tad.makeKindTable("#kinds", "@routes.Tad.getKinds()")();
		});
	</script>
	
}