@(user: User)

@tad("Your Dashboard", user) {
	
		<fieldset>
			<legend>Your items</legend>
			<table id="items">
				<thead>
			        <tr>
			            <th>ID</th>
			            <th>Created</th>
			            <th>Name</th>
			            <th>Used</th>
			            <th>Picture</th>
			            <th></th>
			        </tr>
			    </thead>
				<tbody>
			    </tbody>
			</table>
		</fieldset>

} {

	<script>
		$(document).ready(function() {

		    tad.makeItemTable("#items", "@routes.Tad.getItems()")();
		});
	</script>

}