@(user: User, activity: Activity)

@tad("Activity", user) {

 	<div class="row action_row">
		<div class="small-12">
			<ul class="button-group even-4">
				<li><a class="button secondary" href="@routes.Tad.cloneActivity()?id=@activity.id">Clone</a></li>
				<li><a class="button secondary" data-reveal-id="delete">Delete</a></li>
				<li><a class="button secondary" href="@routes.Tad.viewEditActivity()?id=@activity.id">Edit</a></li>
				<li><a class="button secondary" data-reveal-id="help_activity">Help</a></li>
 			</ul>
		</div>
	</div>

	<div class="row">
	
		<div class="large-6 columns">
		
			<table id="view_activity_table">
				<tr>
					<td><b>Comment:</b></td><td>@activity.comment</td>
				</tr>
				<tr>
					<td><b>Date:</b></td><td>@activity.actionAt</td>
				</tr>
				<tr>
					<td><b>Start:</b></td><td>@activity.getFromTime() o'clock</td>
				</tr>
				<tr>
					<td><b>End:</b></td><td>@activity.getToTime() o'clock</td>
				</tr>
				<tr>
					<td><b>Duration:</b></td><td>@activity.durationInMin min</td>
				</tr>
				<tr>
					<td><b>Distance:</b></td><td>@activity.distanceInKm km</td>
				</tr>
				<tr>
					<td><b>Kind:</b></td>
					<td>
						<a href="/tad/view/kind?id=@activity.kind.id">
							<img width='32px' src='/assets/images/icons/@activity.kind.icon'>
						</a>
					</td>
				</tr>
			</table>
		
		</div>
		
		<div class="large-6 columns">
			<table class="items_of_activity_table">
				<tr>
					@for(item <- activity.items) { 	
						<td>
							<a href="@routes.Tad.viewItem()?id=@item.id">
								<img src="@routes.Tad.serveItemImage()?id=@item.id">
								<br>
								@item.name
							</a>
						</td>
					}
				</tr>
			</table>
		</div>
	</div>
	

	<fieldset>
		<legend>Map</legend>
			<div class="content" id="gps-table" data-section-content>
				<div id="map_canvas" style="width:100%; height:500px"></div>
				<br>
				<div id="elevation_chart"></div>	
			</div>
  	</fieldset>
  	
  	<div id="delete" class="reveal-modal small">
		<h2>Do you really want to delete this activity?</h2>
		<a href="@routes.Tad.deleteActivity()?id=@activity.id" class="button commit-button">Delete!</a>  
		<a class="close-reveal-modal">&#215;</a>
	</div>	
  	
} {

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/geoxml3.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/ProjectedOverlay.js")"></script>
	
	<script type="text/javascript">

	    $(document).ready(tad.makeGpsVisualization("@Html(activity.getFlatKml())"));
	    
	</script>
}