@(user: User, item: Item, activities: List[Activity])

@tad("Item", user) {

	 	<div class="row action_row">
			<div class="small-12">
				<ul class="button-group even-4">
					<li><a class="button secondary" href="@routes.Tad.cloneItem()?id=@item.id">Clone</a></li>
					<li><a class="button secondary" data-reveal-id="delete">Delete</a></li>
					<li><a class="button secondary" href="@routes.Tad.viewEditItem()?id=@item.id">Edit</a></li>
					<li><a class="button secondary" data-reveal-id="help_item">Help</a></li>
	 			</ul>
			</div>
		</div>

		<div class="row">
			<div class="small-9 columns">
				<table id="view_item_table">
					<tr>
						<td><b>ID:</b></td><td>@item.id</td>
					</tr>
					<tr>
						<td><b>Name:</b></td><td>@item.name</td>
					</tr>
					<tr>
						<td><b>Created:</b></td><td>@item.createdAt</td>
					</tr>
					<tr>
						<td><b>Used:</b></td><td>@activities.size() times</td>
					</tr>
				</table>
			</div>
			
			<div class="small-3 columns">
				<img width='100%' src='@routes.Tad.serveItemImage()?id=@item.id'>
			</div>
		</div>	

  	
  	<fieldset>
		<legend>Activities of this item</legend>
		<table id=activities>
			<thead>
		        <tr>
		            <th>ID</th>
		            <th>Date</th>
		            <th>Created</th>
		            <th>Comment</th>
		            <th>Duration (min)</th>
		            <th>Distance (km)</th>
		            <th>KML</th>
		            <th>Kind</th>
		            <td></td>
		        </tr>
		    </thead>
		    
			<tbody>
		    </tbody>

		</table>
	</fieldset>
	
	<div id="delete" class="reveal-modal small">
		<h2>Do you really want to delete this item?</h2>
		<a href="@routes.Tad.deleteItem()?id=@item.id" class="button commit-button">Delete!</a>  
		<a class="close-reveal-modal">&#215;</a>
	</div>	
  	
} {

	<script>
	
		$(document).ready(function() {
		
			tad.makeActivityTable("#activities", "/tad/return/activity?item=@item.id")();
		});
		
	</script>

}