@(user: User, kind: Kind, activities: List[Activity])

@tad("Kind", user) {

 	<div class="row action_row">
		<div class="small-12">
			<ul class="button-group even-4">
				<li><a class="button secondary" href="@routes.Tad.cloneKind()?id=@kind.id">Clone</a></li>
				<li><a class="button secondary" data-reveal-id="delete">Delete</a></li>
				<li><a class="button secondary" href="@routes.Tad.viewEditKind()?id=@kind.id">Edit</a></li>
				<li><a class="button secondary" data-reveal-id="help_kind">Help</a></li>
 			</ul>
		</div>
	</div>

	<table id="view_kind_table">
		<tr>
			<td><b>Name:</b></td><td>@kind.name</td>
		</tr>
		<tr>
			<td><b>Icon:</b></td><td><img width="32px" src="@routes.Assets.at("images/icons/" + kind.icon)"></td>
		</tr>
		<tr>
			<td><b>Used:</b></td><td>@activities.size() times</td>
		</tr>
	</table>

  	<fieldset>
		<legend>Activities of this kind</legend>
			<table id=activities>
				<thead>
			        <tr>
			            <th>ID</th>
			            <th>Date</th>
			            <th>Created</th>
			            <th>Comment</th>
			            <th>Duration (min)</th>
			            <th>Distance (km)</th>
			            <th>KML</th>
			            <th>Kind</th>
			            <td></td>
			        </tr>
			    </thead>
				<tbody>
			    </tbody>
			</table>
	</fieldset>
	
	<div id="delete" class="reveal-modal small">
		<h2>Do you really want to delete this kind?</h2>
		<a href="@routes.Tad.deleteKind()?id=@kind.id" class="button commit-button">Delete!</a>  
		<a class="close-reveal-modal">&#215;</a>
	</div>	
  	
} {

	<script>
	
		$(document).ready(function() {
		
			tad.makeActivityTable("#activities", "/tad/return/activity?kind=@kind.id")();
		});
		
	</script>

}